# OS junk files
.DS_Store
Thumbs.db

# Vagrant
.vagrant/
*.box

# Ansible
*.retry
*.log
host_vars/
group_vars/
inventory/

# Podman/Docker
*.pid
*.log
*.sock
container-volumes/
container-data/

# Packer
packer_cache/
output-*/

# Logs
*.log

# Secrets (optional if stored)
secrets.yml
vault.yml
.env

# Archive files
*.zip
*.tar.gz
